@import "../../sass/utils/index";

.active-header {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: 0;
  opacity: 1;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3;

  @include desktop {
    display: none;
  }
}

.button-strong-header {
  background-color: #1178f2;
  border-radius: 25px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  color: #ffffff;
  font-family: Lato;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 900;
  letter-spacing: normal;
  line-height: normal;
  mix-blend-mode: undefined;
  object-fit: contain;
  text-align: center;
  padding: 7px 18px;
  height: 31px;
  min-width: 155px;
  cursor: pointer;
}

.button-sign-up-outline-header {
  border: 1px solid #1178f2;
  border-radius: 25px;
  font-family: Lato;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 900;
  color: #1178f2;
  letter-spacing: normal;
  line-height: normal;
  mix-blend-mode: undefined;
  object-fit: contain;
  text-align: center;
  padding: 7px 18px;
}
.content-container-header {
  display: flex;
  justify-content: space-between;
  width: 290px;
  align-items: center;
  @include tablet {
    width: 100%;
  }
}

.container-header {
  align-items: center;
  background: $white;
  box-shadow: 0 1px 0px 1px rgba(0, 0, 0, 0.05),
    0 2px 3px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  height: 50px;
  position: relative;
  width: 100%;
  z-index: 4;
  justify-content: center;

  @include tablet {
    height: 44px;
    padding: 0 25px;
  }

  @include tablet-forced-header {
    height: 44px;
    padding: 0 40px;
  }
}

.container-logo-menu-header {
  align-items: center;
  display: flex;
}

.course-link-wrapper-header {
  align-items: center;
  display: flex;
  position: relative;
  left: 22px;
}

.course-link-tag-header {
  color: #1178f2;
  display: none;
  font-family: Lato;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 900;
  letter-spacing: normal;
  line-height: normal;
  mix-blend-mode: undefined;
  object-fit: contain;
  text-align: left;
  margin-left: 10px;
  @include tablet-forced-header {
    display: inline-block;
  }
}

.enter-option-header {
  color: #1178f2;
  font-family: Lato;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 900;
  letter-spacing: normal;
  line-height: normal;
  mix-blend-mode: undefined;
  object-fit: contain;
  text-align: left;
  width: 95px;
  &:hover {
    color: #1178f2;
  }
}

.enter-courses-header {
  width: 68px;
}

.icon-header {
  left: 55px;
  position: absolute;
  width: 18px;

  @include tablet {
    left: 4em;
  }

  @include tablet-forced-header {
    display: none;
  }
}

.search-icon {
  display: flex;
  img {
    @include tablet-forced-header {
      display: none;
    }
  }
}

.link-sign-up-header {
  cursor: pointer;

  margin-left: 20px;
  display: none;

  @include tablet-forced-header {
    display: flex;
  }
}

.login-wrapper-header {
  align-items: center;
  display: none;

  @include tablet-forced-header {
    display: flex;
    margin-left: 25px;
  }
}

.my-courses-link-header {
  display: none;
  color: #1178f2;
  font-size: 14px;
  font-weight: 900;
  width: max-content;
  &:hover {
    color: #1178f2;
  }

  @include tablet-forced-header {
    display: inline-block;
    margin-right: 1em;
  }
}

.notification-wrapper-header {
  align-items: center;
  display: none;
  position: absolute;
  right: 67px;

  @include tablet-forced-header {
    display: flex;
    position: relative;
    right: 0;
    margin-left: 1em;
  }
}

.overflow-mask-header {
  background: rgba(103, 103, 103, 0.64);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 4;

  &.is-visible-header {
    display: block;
  }
}

.profesor-link-header {
  color: #0fa3f4;
  font-family: Lato;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  font-weight: bold;
  letter-spacing: normal;
  line-height: normal;
  mix-blend-mode: undefined;
  object-fit: contain;
  text-align: left;
  margin-right: 1em;
  width: max-content;
  &:hover {
    color: #0fa3f4;
  }
}

.profesor-link-wrapper-header {
  display: none;
  margin-left: 25px;
  margin-right: 85px;

  @include desktop {
    display: flex;
  }
}

.search-header {
  display: none;

  @include tablet-forced-header {
    display: block;
  }
}

.search-button-header {
  background: #07a1fb;
  border: none;
  border-radius: 30px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  margin-left: 10px;
  padding: 6px 10px;
  text-align: center;
  width: 70px;
}

.search-mobile-wrapper-header {
  align-items: center;
  background: $white;
  display: none;
  justify-content: center;
  height: 50px;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  z-index: 5;

  @include tablet-forced-header {
    display: none;
  }

  &.is-visible-header {
    display: flex;
  }
}

.search-wrapper-header {
  align-items: center;
  display: flex;

  @include tablet-forced-header {
    margin-left: 80px;
  }
}

.shopping-cart-wrapper-header {
  @include tablet-forced-header {
    margin-left: 1em;
    position: relative;
    right: 0;
  }
}

.signed-links-header {
  align-items: center;
  display: flex;
  margin-left: 1em;
  margin-right: 10px;
  position: relative;
}

.sidenav-hamburger-header {
  align-items: center;
  display: flex;

  @include desktop {
    display: none;
  }
}

.sidenav-other-header {
  display: none;

  @include desktop {
    display: flex;
  }
}

.user-image-header {
  align-items: center;
  display: none;

  @include tablet-forced-header {
    display: flex;
  }
}
