@import "../../sass/utils/index";

.button {
  background: $blue-light;
  border: none;
  border-radius: 30px;
  color: $white;
  font-size: 14px;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
  width: 100%;

  &:hover {
    background-color: $blue-light * 0.85;
    color: #fff;
  }

  &.is-transparent {
    background: $green;
    font-size: 16px;
    justify-self: flex-end;
    position: absolute;
    right: 15px;
    top: 9px;
    width: 78px;
  }

  &.is-white {
    background: $white;
    color: $blue-light;

    @include desktop {
      padding: 10px;
    }
  }

  &.is-blue {
    background-color: $blue;

    &:hover {
      background-color: $blue * 0.85;
      color: #fff;
    }

    @include tablet {
      font-size: 16px;
    }
  }

  &.is-dark-grey {
    background-color: #999;

    &:hover {
      background-color: #999;
    }

    @include tablet {
      font-size: 16px;
      // padding: 13px;
    }
  }

  &.is-melon {
    background-color: $melon;

    &:hover {
      background-color: $melon * 0.85;
    }
  }

  &.fb {
    background-color: $fb;
    height: 47px;
    box-shadow: 0 2px 8px rgba($black, 0.2);
    padding: 10px 0;
    
    @include tablet {
      padding: 15px 0;
      height: 60px;
    }

    &:hover {
      background-color: $fb * 0.85;
      box-shadow: 0 0 10px rgba($black, 0.2);
      color: #fff;
    }

    img {
      margin-right: 10px;
      max-width: 9px;
      vertical-align: middle;
    }

    span {
      vertical-align: middle;
    }
  }

  &.gl {
    background-color: $white;
    height: 47px;
    box-shadow: 0 2px 8px rgba($black, 0.2);
    color: $grey-dark;
    padding: 10px 0;

    @include tablet {
      height: 60px;
      padding: 15px 0;
    }

    &:hover {
      background-color: $white * 0.95;
      box-shadow: 0 0 10px rgba($black, 0.2);
    }

    img {
      margin-right: 10px;
      max-width: 19px;
      vertical-align: middle;
    }

    span {
      vertical-align: middle;
    }
  }

  &.is-grey {
    background-color: $grey-lighter;
    color: $grey;
    font-weight: 500;
  }

  @include desktop {
    font-size: 16px;
  }
}

.button-icon {
  margin-left: 5px;
  max-width: 15px;
  vertical-align: middle;
}
