@import "../../sass/utils/index";

.package-plan {
  background-color: $white;
  border: solid $grey-light 1px;
  border-radius: 5px;
  box-shadow: 0 0 0 rgba($black, 0);
  box-sizing: border-box;
  padding: 35px 25px 10px;
  margin: 0 10px 20px;
  max-width: 320px;
  position: relative;
  text-align: center;
  width: 100%;

  @include tablet {
    margin: 0 15px 20px;
    max-width: 214px;
  }

  @include tablet-lg {
    margin: 0 6px 20px;
    width: calc(25% - 12px);
  }

  @include desktop {
    max-width: 230px;
    margin-bottom: 0;
    width: calc(25% - 14px);
  }

  p {
    font-size: 12px;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.package-plan-featured {
  box-shadow: 0 5px 50px rgba($black, 0.2);
}

.package-plan-heading {
  @include tablet {
    min-height: 66px;
  }
}

.package-plan-description {
  margin-bottom: 25px;

  p {
    font-size: 12px;
    line-height: 1.125;
  }
}

.package-plan-info {
  p {
    font-size: 14px;
    line-height: 1.125;
  }

  @include tablet-lg {
    margin: 25px 0 0;
  }
}

.package-plan-flag {
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;

  span {
    background-color: $melon;
    border-radius: 0 0 5px 5px;
    color: $white;
    display: inline-block;
    font-weight: 600;
    line-height: 1;
    padding: 3px 15px;
  }
}

.package-plan-name {
  font-weight: 600;
  line-height: 1.125;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.package-plan-price {
  margin-bottom: 10px;
  position: relative;
}

.package-plan-sale-price {
  display: block;
  font-size: 28px;
  font-weight: 600;
  line-height: 1;
}

.package-plan-discount {
  position: absolute;
  top: -18px;
  width: 100%;

  span {
    color: $blue-light;
  }
}

.package-plans-more {
  color: $blue-light;
  cursor: pointer;
  text-decoration: none;
}